<ion-header>
  <ion-toolbar>
    <ion-title>
      MIs Ahorros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header class="title-cash"> 
        <ion-card-title>
          Mis Ahorros Mensuales
        </ion-card-title>
        <ion-card-title>
          <ion-item>
            <ion-icon slot="start" name="cash" class="icon-cash"></ion-icon>
            <ion-label text-center>MONTO</ion-label>
          </ion-item>          
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        Ultimos Gastos: 
      </ion-card-content>
      <ion-grid>
        <ion-row text-center class="row-title">
          <ion-col><strong>Nombre</strong></ion-col>
          <ion-col><strong>Fecha</strong></ion-col>
          <ion-col><Strong>Monto</Strong></ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>Camisa</ion-col>
            <ion-col>21/03/2019</ion-col>
            <ion-col>$ 1000</ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>Zapatos</ion-col>
            <ion-col>18/03/2019</ion-col>
            <ion-col>$ 2500</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
